{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{%  endblock %}


{% block body %}
<div id="clock"></div>
<div class="container-sm col-6 position-absolute top-50 start-50 translate-middle">
    <div class="mb-3 row">
        <label for="staticUserName" class="col-sm-2 col-form-label">Email</label>
        <input type="text" class="form-control" id="staticUserName">
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary position-relative translate-middle-x start-50">Submit</button>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-message">
      <p>Registration successful! Please check your email for verification.</p>
    </div>
  {% endif %}
{% endwith %}

<!--<div class="container">-->
<!--    <div class="clock"></div>-->
<!--    <form>-->
<!--    <div class="form-group">-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" id="username" name="username">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="password">Password:</label>-->
<!--        <input type="password" id="password" name="password">-->
<!--    </div>-->


<!--    <button type="submit" class="login_button">LOG IN</button>-->
<!--        <a href="https://metrobus-app.onrender.com/user_info"><h2 class="register_card">Create an account</h2> </a>-->

<!--    </form>-->

<!--</div>-->
{% endblock %}