
{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{%  endblock %}


{% block body %}
<div id="clock"></div>
<div class="container col-6 position-absolute top-50 start-50 translate-middle">
    <div  class="col-8 align-center" style="padding: 50px; background-color: #f8f9fa;">
        <form action="" class="needs-validation" novalidate><!--Put in the form location here-->
            <div class="mb-2 row">
                <label for="staticUserName" class="col-sm-2 col-form-label">Email</label>
                <input type="text" class="form-control" id="staticUserName">
                <div class="invalid-feedback">
                    <p><b>Field is empty!</b></p>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
                <div class="invalid-feedback">
                    <p><b>Field is empty!</b></p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary position-relative translate-middle-x start-50"
                    style="margin-top: 20px;">Login</button>
        </form>
        <a href="https://metrobus-app.onrender.com/register" style="margin-top: 50px;">
            <h5 style="margin-top: 25px; text-align: center;" class="position-relative translate-middle-x start-50">
                Create an account</h5>
        </a>
    </div>
</div>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="flash-message" class="alert alert-success fade-out">
      Registration successful! Please check your email for verification
    </div>
  {% endif %}
{% endwith %}

