
{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{%  endblock %}


{% block body %}
<div id="clock"></div>
<div  class="col-xs-10 col-lg-6 col-sm-10 position-relative translate-middle-x start-50"
      style="margin-top: 150px; padding: 50px; background-color: #f8f9fa;">
    <form action=""><!--Put in the form location here-->
        <div class="mb-4 row">
            <label for="staticUserName" class="form-label">Email</label>
            <input type="email" class="form-control" id="staticUserName" required>
            <div class="invalid-feedback">
                <p><b>Field is empty!</b></p>
            </div>
        </div>
        <div class="mb-2 row">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" required>
            <div class="invalid-feedback">
                <p><b>Field is empty!</b></p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary position-relative translate-middle-x start-50"
                style="margin-top: 20px;">Login</button>
    </form>
    <a href="/register" style="margin-top: 50px;">
        <h5 style="margin-top: 25px; text-align: center;" class="position-relative translate-middle-x start-50">
            Create an account
        </h5>
    </a>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash-message" class="alert alert-success fade-out">
        Registration successful! Please check your email for verification
    </div>
    {% endif %}
{% endwith %}
{% endblock %}




