{%  extends 'base.html' %}
{% block head %}
<title>Registration</title>
{% endblock %}
{% block body %}
<form action="https://metrobus-app.onrender.com/register" method="POST">
    <div class="mt-5 col-xl-8 col-xs-12 col-md-10 position-relative translate-middle-x start-50"
    style="background-color: #f9f9f9; padding: 50px;">
    <h1>Create A Metro Account</h1>
        <div class="mb-4 mt-5 row">
            <label class="form-label" for="register-username">Username:</label>
            <input class="form-control" type="text" id="register-username" name="username" required>
        </div>
        <div class="mb-4 row">
            <label class="form-label" for="register-email">Email Address:</label>
            <input class="form-control" type="email" id="register-email" name="email" required>
        </div>
        <div class="mb-4 row">
            <label class="form-label" for="register-confirm-email">Confirm Email Address:</label>
            <input class="form-control" type="email" id="register-confirm-email" name="register-confirm-email" required>
        </div>
        <div class="mb-4 row">
            <label class="form-label" for="register-password">Password:</label>
            <input class="form-control" type="password" id="register-password" name="password" required>
        </div>
        <div class="mb-4 row">
            <label class="form-label" for="register-confirm-password">Confirm Password:</label>
            <input class="form-control" type="password" id="register-confirm-password" name="confirm_password" required>
        </div>
        <a class="mt-5" href="https://metrobus-app.onrender.com/login">
            <button class="btn btn-primary" type="submit">Register</button>
        </a>
    </div>
</form>
<br><br>
{% endblock %}
has context menu


