{% extends 'base.html' %}
{% block head %}
<title>Top Up Credit</title>
{% endblock %}

{% block body %}
<form action="/top_up?user_id={{user_id}}" method="POST">
<div class="col-lg-8 col-sm-12 position-relative translate-middle-x start-50"
    style="margin-top: 50px ; padding: 53px; background-color: #f9f9f9;">
    <div class="col-6 col-sm-12">
        <h4>How much would you like to top up?</h4>
        <div class="form-check mt-4 mb-2">
            <input class="form-check-input" name="balance" type="radio" value="10.00" id="tenTopUp">
            <label class="form-check-label" for="tenTopUp">
                $10.00
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" name="balance" type="radio" value="20.00" id="twentyTopUp">
            <label class="form-check-label" for="twentyTopUp">
                $20.00
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" name="balance" type="radio" value="50.00" id="fiftyTopUp">
            <label class="form-check-label" for="fiftyTopUp">
                $50.00
            </label>
        </div>
        <div class="form-check mt-4">
            <input class="form-check-input" name="balance" type="radio" id="custTopUp">
            <label class="form-check-label" for="custTopUp">
                Custom amount
            </label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" name="balance" aria-label="Custom Amount">
            </div>
        </div>
    </div>
    <hr class="my-4 line1">
    <div class="row align-items-center mb-2">
        <h1 style="margin-top: 20px; margin-bottom: 20px;">Payment</h1>
        <div class="col-auto">
            <label for="cc_name" class="cc_name">Cardholder's Name</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="cc_name" name="cc_name" required>
        </div>
        <div class="col-auto">
            <span id="nameHelpInline" class="form-text">
                Input your full name as displayed on the card
            </span>
        </div>
        <div class="invalid-feedback">
            Name on card is required
        </div>
    </div>
    <div class="row align-items-center mb-3">
        <div class="col-auto">
            <label for="cc_number" class="form-label">Credit card number</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="cc_number" name="cc_number" placeholder="XXXX-XXXX-XXXX-XXXX" required>
        </div>
        <div class="invalid-feedback">
            Credit card number is required
        </div>
    </div>
    <div class="row mt-3 mb-3 align-items-center">
        <div class="col-auto">
            <label for="cc_exp" class="form-label">Expiration Date</label>
            <input id="cc_exp" type="text" name="cc_exp" class="form-control" placeholder="MM/YY" required>
        </div>
        <div class="invalid-feedback">
            Expiration date required
        </div>
        <div class="col-auto">
            <label for="cc_cvc" class="form-label">CCV no.</label>
            <input id="cc_cvc" type="text" name="cc_cvc" class="form-control" placeholder="XXX" required>
        </div>
        <div class="invalid-feedback">
            Security code required
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-label" for="save-info">Save card for next time</label>
        </div>
        <a href="#" class="link-disabled">
            <img class="float-end img-thumbnail" src="static/logos/paypal.png" alt="PayPal Logo"
            style="max-width: 150px; position: absolute; left: 350px; top: 650px">
        </a>
    </div>
    <hr class="my-4 line2">
     <a href=/profile?username={{username}}&user_id={{user_id}}&email={{email}}" class="btn btn-primary position-relative translate-middle-x start-50"
   style="margin-top: 20px;">Top Up</a>
</div>
</form>
<br><br><br><br>
{% endblock %}