<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>


<title>Top Up Credit</title>

<form action="https://metrobus-app.onrender.com/top_up" method="POST">
<div class="metro_logo(topUp)"></div>

<body class="topUp_background">


<container class="TopUp-choices">
<div class="Top-Up-form-check">
  <h4 class="topUp_prompt">How much would you like to top up?</h4>
  <input class="Top-Up-input1" type="checkbox" value="" id="flexCheck10">
  <label class="Top-Up-label1" for="flexCheck10">
    $10.00
  </label>

  <input class="Top-Up-input2" type="checkbox" value="" id="flexCheck30">
  <label class="Top-Up-label2" for="flexCheck30">
    $30.00
  </label>

   <input class="Top-Up-input3" type="checkbox" value="" id="flexCheck50">
  <label class="Top-Up-label3" for="flexCheck50">
    $50.00
  </label>

  <div class="input-group topUp-add-in">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
  </div>
</div>
</container>


<container class="payment_name">
<div class="row gy-3">
    <h1 class="Payment">Payment</h1>
    <div class="col-md-9">
    <label for="cc-name" class="cc-label">Name on card</label>

    <div class="cc-form-name">
    <input type="text" class="form-control" id="cc-name" placeholder="" required>
    <small class="text-body-secondary">Full name as displayed on card</small>
    </div>

        <div class="invalid-feedback">
         Name on card is required
        </div>
</div>
    </div>
</container>

<hr class="my-4 line1">

<div class="col-md-9">
<label for="cc-number" class="cc-number-label">Credit card number</label>

<div class="cc-form-num" >
<input type="text" class="form-control" id="cc-number" placeholder="" required>
</div>

    <div class="invalid-feedback">
                Credit card number is required
    </div>
</div>

<div class="col-md-3">
<label for="cc-expiration" class="cc-expiration-label">Expiration</label>

<div class="cc-form-expiration">
<input type="text" class="form-control" id="cc-expiration" placeholder="" required>
</div>

    <div class="invalid-feedback">
                Expiration date required
    </div>
</div>

<div class="col-md-3">
<label for="cc-cvv" class="cc-cv-label">CVV</label>

<div class="cc-form-cvv">
<input type="text" class="form-control" id="cc-cvv" placeholder="" required>
</div>
    <div class="invalid-feedback">
                Security code required
    </div>
</div>

<div class="my-3">
     <div class="credit-form-check">
        <input id="credit" name="paymentMethod" type="radio" class="credit-card-input" checked required>
              <label class="credit-card-label" for="credit">Credit card</label>
     </div>

     <div class="debit-form-check">
        <input id="debit" name="paymentMethod" type="radio" class="debit-card-input" required>
        <label class="debit-card-label" for="debit">Debit card</label>
     </div>

     <div class="paypal-form-check">
       <input id="paypal" name="paymentMethod" type="radio" class="paypal-input" checked required>
       <label class="paypal-label" for="paypal">PayPal</label>
     </div>
</div>

<div class="save-cc-form-check">
    <input type="checkbox" class="save-info-input" id="save-info">
    <label class="save-info-label" for="save-info">Save this information for next time</label>
</div>

<hr class="my-4 line2">


<button type="submit" class="topUp_button">Top Up</button>




 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</form>
</html>